

<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE TITLE-->
        <h4>
            Consulta @ViewBag.NomeTitulo
        </h4>
        <!-- END PAGE TITLE-->
        <!-- END PAGE HEADER-->



        @if (ViewBag.NomeTitulo == "Usuario")
        {
            <a href="/Pessoa/SalvarPessoa?id=&tipoPessoa=User" class="btn blue">
                Cadastrar
                <i class="fa fa-plus"></i>
            </a>
        }
        else
        {
            <a href="/Pessoa/SalvarPessoa?id=&tipoPessoa=Company" class="btn green">
                Cadastrar
                <i class="fa fa-plus"></i>
            </a>
        }

        <br />
        <br />
        <div class="row">
            <div class="col-md-7">
                <form asp-controller="Pessoa" asp-action="ConsultaPessoa">
                    <div class="form-body">
                        <div class="form-group">

                            <label class="control-label col-md-1">Nome</label>
                            <div class="col-md-4">
                                <input class="form-control" name="Nome" type="text" />
                            </div>

                            <button type="submit" class="btn grey-mint">
                                <i class="fa fa-check"></i> Pesquisar
                            </button>
                            <input  name="tipoPessoa" value="@ViewBag.NomeTitulo " type="hidden" />

                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">



                <!-- BEGIN EXAMPLE TABLE PORTLET  INICIO CONTEUDO TABELA-->
                <div class="portlet-body">
                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="btn-group">

                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                        <thead>
                            <tr>
                                <th> Nome </th>
                                <th> E-mail </th>
                                <th> Login </th>
                                <th> Status </th>
                                <th> Editar </th>

                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @item.Nome
                                    </td>
                                    <td>
                                        @item.Email
                                    </td>
                                    <td>
                                        @item.Login
                                    </td>

                                    <td>
                                        @if (@item.Status == 0)
                                        {
                                            <a class="btn btn-icon-only red" title="Desativado">
                                                <i class="fa fa-close"></i>
                                            </a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-icon-only green" title="Ativado">
                                                <i class="fa fa-check"></i>
                                            </a>
                                        }
                                    </td>

                                    <td>
                                        @if (ViewBag.NomeTitulo == "Usuario")
                                        {
                                            <a href="/Pessoa/SalvarPessoa?id=@item.PessoaId&tipoPessoa=User" class="btn blue">
                                                Editar
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="/Pessoa/SalvarPessoa?id=@item.PessoaId&tipoPessoa=Company" class="btn blue">
                                                Editar
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        }
                                    </td>

                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->

            <br />
            <!--Page (Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of Model.PageCount-->



        </div>
    </div>

</div>
<!-- END CONTENT BODY -->
        </div>
<!-- END CONTENT -->
